#bomb {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#bomb i {
  font-size: 120px;
  animation-name: bomba;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bomba {
  0% {
    transform: scale(1.5);
    color: red;
  }
}
